/* Allgemeine Seitenstile */
body {
    font-family: 'Inconsolata', monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container für die Sektionen */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: visible;
}

.header-text{
    font-size: 20px;
}

.sticky-nav{
    background-color: #a2bba3;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sticky-nav .nav{
    padding-left: 0;
    list-style: none;
    margin: 0; /* Entfernt Standardabstand */
    font-weight: bold;
    color: white;

}

.sticky-nav .nav ul {
    padding: 0;
    margin: 0;
    list-style: none; 
}

nav ul li {

    transition: transform 0.3s ease; /* Übergangseffekt für transform */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:bold;
    
}

/* Hover-Effekt für das Navigationsmenü */
nav ul li:hover {
    transform: scale(1.1); /* Vergrößern beim Hover */
}
nav ul li a:hover {
    color: #705b97 !important;
}



/* ___________________________________________________________________________Über mich Sektion */
#about {
    padding: 150px 150px;
    background-color: white;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

.about-container {
    display: flex;
    align-items: center; /* Vertikal zentrieren */
    padding: 20px;
}

.about-text {
    flex: 1; /* Text nimmt den restlichen Platz ein */
    margin-right: 20px;
}

.about-image img {
    width: 170px; /* Breite des Bildes */
    height: 270px; /* Höhe des Bildes für eine senkrechte Ellipse */
    object-fit: cover; /* Bild wird im Container skaliert, ohne das Seitenverhältnis zu verlieren */
    border-radius: 50%; /* macht das Bild rund */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* optional, für einen leichten Schatteneffekt */
    
}


/* ______________________________________________________________________________Portfolio Sektion */
#projekte {
    margin-top: 80px;
    padding: 10px 0 !important;
    background-color: #f4f4f4;
}

#projekte h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 80px;
 
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    line-height: 1.3rem;
    margin-bottom: 80px;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 30px;
    height: 50vh;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: #333;
}

.card-text {
    font-size: rem;
    color: #666;
    margin-bottom: 35px;
}
.card-img-top {
    object-fit: cover; /* Bild wird skaliert, ohne das Seitenverhältnis zu verlieren */
    height: 300px; /* Höhe des Bildes in der Karte */
}

.card .btn {
    background-color: #a2bba3;
    border: none;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card .btn:hover {
    background-color: #705b97;
}

/* Abstände und Darstellung der Projekte */
.row-cols-md-3 .col {
    margin-bottom: 30px;
}


/* _____________________________________________________________________________Kontakt Sektion */
#contact {
    padding: 60px 0;
    background-color: #343a40;
    color: white;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#contact p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    transition: border-color 0.3s;
    max-width: 600px; /* Einheitliche Breite für alle Felder */
    margin-left: auto;
    margin-right: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;!
}

.form-control:focus {
    border-color: #a2bba3;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

textarea.form-control {
    resize: vertical;
}

.btn-primary {
    background-color: #a2bba3;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #705b97;
    
}

/* _________________________________________Footer*/
footer {
    padding: 30px;
    text-align: center;
    

}

footer p{
    font-family: 'Inconsolata', monospace;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-family: 'Inconsolata', monospace;
}


footer a:hover {
    text-decoration: underline;
}


/* Reaktionsfähigkeit - Anpassungen für kleinere Bildschirme */

/* Mobile Ansicht für das Header-Menü */

@media (max-width: 768px) {
    .sticky-nav{
        padding-top: 0;
        padding-bottom: 0;
    }


    .sticky-nav .container {
        flex-direction: column; /* Auf kleineren Bildschirmen vertikal anordnen */
        align-items: center;
    }
    .sticky-nav .nav {
        justify-content: center;
        width: 100%;
    }

    body .logo {
        margin-bottom: 10px;
    }


    body p {
        font-size: 1rem;
    }

    .nav ul {
        display: flex;
        flex-direction: column; /* Navigationselemente untereinander */
    }

    nav ul li {

        margin: 10px 0;
    }

    .card-body {
        text-align: center;
    }
}

/* Mobile Ansicht für das Kontaktformular */
@media (max-width: 576px) {
    .form-control {
        font-size: 0.9rem;
        padding: 8px;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 10px 18px;
    }
}

@media (max-width: 1400px) {
    /* Container vertikal auf kleineren Bildschirmen */
    .sticky-nav .container {
        flex-direction: column; /* Auf kleineren Bildschirmen vertikal anordnen */
        align-items: center; /* Zentrieren der Elemente */
    }

    /* Navigation soll mittig ausgerichtet werden */
    .sticky-nav .nav {
        justify-content: center; /* Zentriert die Navigation */
        width: 100%;
    }

    /* Logo-Abstand nach unten */
    body .logo {
        margin-bottom: 10px;
    }

    /* Textgröße bei kleineren Bildschirmen */
    body p {
        font-size: 1rem;
    }

    /* Navigation untereinander anordnen */
    .sticky-nav .nav ul {
        display: flex;
        flex-direction: column; /* Navigationselemente untereinander */
        align-items: center; /* Zentriert die Navigation */
        padding-left: 0; /* Entfernt Standard-Padding */
        margin: 0; /* Entfernt Standard-Margin */
    }

    /* Abstand zwischen den Menüeinträgen */
    nav ul li {
        margin: 10px 0;
    }
}